.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container {
  width: 100%;
  position: relative;
}

.about__glow {
  width: 815px;
  height: 692px;
  position: absolute;
  left: -330px;
  bottom: -157px;
  z-index: 0;
  background-color: rgba(241, 102, 42, 0.631372549);
}

.about__title {
  text-align: center;
  margin-bottom: 60px;
  z-index: 2;
  position: relative;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 60px;
  min-height: 50vh;
  z-index: 1;
  position: relative;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.about__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  height: 100%;
}

.about__text {
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 980px) {
  .about__content {
    grid-template-columns: 1fr;
  }
  .about__image {
    grid-row: 2/3;
  }
  .about__text-block {
    grid-row: 1/2;
  }
}