.contacts {
  position: relative;
}

.contacts__title {
  margin-bottom: 60px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.contacts__content {
  border-radius: 8px;
  border: 1px solid #f1662a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  position: relative;
  z-index: 2;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.contacts__glow {
  width: 415px;
  height: 492px;
  position: absolute;
  left: -235px;
  bottom: 0;
}

.contacts__text {
  font-size: 30px;
  font-weight: 500;
  text-wrap: balance;
  line-height: 140%;
  max-width: 50%;
  text-wrap: balance;
}

.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.contacts__links a {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media (max-width: 980px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .contacts__text {
    max-width: none;
    text-align: center;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy9zZWN0aW9ucy9jb250YWN0cy5zY3NzIiwiYmxvY2tzL3NlY3Rpb25zL2NvbnRhY3RzLmNzcyIsIl92YXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7RUFDSSxrQkFBQTtBQ0FKOztBRENJO0VBQ0ksbUJBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxrQkFBQTtBQ0NSOztBRENJO0VBQ0ksa0JBQUE7RUFDQSx5QkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtBQ0NSOztBREtJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLGFBQUE7QUNHUjs7QURESTtFQUNJLFlBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0EsU0FBQTtBQ0dSOztBRERJO0VBQ0ksZUFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtBQ0dSOztBRElJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx3QkFBQTtLQUFBLHFCQUFBO1VBQUEsZ0JBQUE7QUNJUjs7QURIUTtFQUNJLDhCQUFBO0VBQUEsMkJBQUE7RUFBQSxzQkFBQTtBQ0taOztBQ1RJO0VGdkNBO0lBU1EsNEJBQUE7SUFBQSw2QkFBQTtRQUFBLDBCQUFBO1lBQUEsc0JBQUE7SUFDQSxhQUFBO0VDR1Y7RURZRTtJQVNRLGVBQUE7SUFDQSxrQkFBQTtFQ0lWO0FBekJGIiwiZmlsZSI6ImJsb2Nrcy9zZWN0aW9ucy9jb250YWN0cy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAdXNlICcuLi8uLi92YXJzJyBhcyAqO1xuLmNvbnRhY3RzIHtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgJl9fdGl0bGUge1xuICAgICAgICBtYXJnaW4tYm90dG9tOiA2MHB4O1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIHotaW5kZXg6IDI7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICB9XG4gICAgJl9fY29udGVudCB7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDhweDtcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgJG9yYW5nZTtcbiAgICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICAgICAgcGFkZGluZzogMjVweDtcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICB6LWluZGV4OiAyO1xuICAgICAgICBAaW5jbHVkZSB0YWJsZXQge1xuICAgICAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICAgICAgICAgIHJvdy1nYXA6IDQwcHg7XG4gICAgICAgIH1cbiAgICB9XG4gICAgJl9faW5mbyB7XG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgICAgIHJvdy1nYXA6IDQwcHg7XG4gICAgfVxuICAgICZfX2dsb3cge1xuICAgICAgICB3aWR0aDogNDE1cHg7XG4gICAgICAgIGhlaWdodDogNDkycHg7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgbGVmdDogLTIzNXB4O1xuICAgICAgICBib3R0b206IDA7XG4gICAgfVxuICAgICZfX3RleHQge1xuICAgICAgICBmb250LXNpemU6IDMwcHg7XG4gICAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gICAgICAgIHRleHQtd3JhcDogYmFsYW5jZTtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDE0MCU7XG4gICAgICAgIG1heC13aWR0aDogNTAlO1xuICAgICAgICB0ZXh0LXdyYXA6IGJhbGFuY2U7XG5cbiAgICAgICAgQGluY2x1ZGUgdGFibGV0IHtcbiAgICAgICAgICAgIG1heC13aWR0aDogbm9uZTtcbiAgICAgICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgICAgfVxuICAgIH1cbiAgICAmX19saW5rcyB7XG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgICAgIGNvbHVtbi1nYXA6IDUwcHg7XG4gICAgICAgIGEge1xuICAgICAgICAgICAgbWF4LXdpZHRoOiBtYXgtY29udGVudDtcbiAgICAgICAgfVxuICAgIH1cbn1cbiIsIi5jb250YWN0cyB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cbi5jb250YWN0c19fdGl0bGUge1xuICBtYXJnaW4tYm90dG9tOiA2MHB4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIHotaW5kZXg6IDI7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbn1cbi5jb250YWN0c19fY29udGVudCB7XG4gIGJvcmRlci1yYWRpdXM6IDhweDtcbiAgYm9yZGVyOiAxcHggc29saWQgI2YxNjYyYTtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgcGFkZGluZzogMjVweDtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICB6LWluZGV4OiAyO1xufVxuQG1lZGlhIChtYXgtd2lkdGg6IDk4MHB4KSB7XG4gIC5jb250YWN0c19fY29udGVudCB7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICByb3ctZ2FwOiA0MHB4O1xuICB9XG59XG4uY29udGFjdHNfX2luZm8ge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICByb3ctZ2FwOiA0MHB4O1xufVxuLmNvbnRhY3RzX19nbG93IHtcbiAgd2lkdGg6IDQxNXB4O1xuICBoZWlnaHQ6IDQ5MnB4O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGxlZnQ6IC0yMzVweDtcbiAgYm90dG9tOiAwO1xufVxuLmNvbnRhY3RzX190ZXh0IHtcbiAgZm9udC1zaXplOiAzMHB4O1xuICBmb250LXdlaWdodDogNTAwO1xuICB0ZXh0LXdyYXA6IGJhbGFuY2U7XG4gIGxpbmUtaGVpZ2h0OiAxNDAlO1xuICBtYXgtd2lkdGg6IDUwJTtcbiAgdGV4dC13cmFwOiBiYWxhbmNlO1xufVxuQG1lZGlhIChtYXgtd2lkdGg6IDk4MHB4KSB7XG4gIC5jb250YWN0c19fdGV4dCB7XG4gICAgbWF4LXdpZHRoOiBub25lO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgfVxufVxuLmNvbnRhY3RzX19saW5rcyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGNvbHVtbi1nYXA6IDUwcHg7XG59XG4uY29udGFjdHNfX2xpbmtzIGEge1xuICBtYXgtd2lkdGg6IG1heC1jb250ZW50O1xufSIsIi8vZGVmYXVsdCBjb2xvdXJzXG4kYmxhY2s6ICMwMDA7XG4kd2hpdGU6ICNmZmY7XG5cbi8vbGF5b3V0IGNvbG91cnNcbiRkYXJrOiAjMzYzNjM2O1xuJGdyYXk6ICM2NDc0OGI7XG4kb3JhbmdlOiAjZjE2NjJhO1xuXG4vL3RyYW5zaXRpb25zXG4kdHJhbnNpdGlvbjogYWxsIDAuNHMgY3ViaWMtYmV6aWVyKDAuMjUsIDAuNDYsIDAuNDUsIDAuOTQpO1xuXG4vL3JvdW5kc1xuJHJvdW5kLXM6IDhweDtcbiRyb3VuZC1tOiAyMHB4O1xuJHJvdW5kLWw6IDMycHg7XG4kcm91bmQtZnVsbDogNTAlO1xuXG4vL01lZGlhIHF1ZXJpZXNcbiRtb2JpbGU6IDY1MHB4O1xuJHRhYmxldDogOTgwcHg7XG4kbGFwdG9wLXM6IDExMDBweDtcbiRsYXB0b3A6IDEzMDBweDtcbiRkdDogMTYwMHB4O1xuXG4vLyBHbGFzcyBtb3JwaGlzbVxuJGdsYXNzOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMDUpO1xuJGdsYXNzQm9yZGVyOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMSk7XG5cbi8vIE1peGluc1xuQG1peGluIGR0IHtcbiAgICBAbWVkaWEgKG1heC13aWR0aDogI3skZHR9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cblxuQG1peGluIGxhcHRvcCB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGxhcHRvcH0pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuQG1peGluIGxhcHRvcC1zIHtcbiAgICBAbWVkaWEgKG1heC13aWR0aDogI3skbGFwdG9wLXN9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cblxuQG1peGluIHRhYmxldCB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JHRhYmxldH0pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuXG5AbWl4aW4gbW9iaWxlIHtcbiAgICBAbWVkaWEgKG1heC13aWR0aDogI3skbW9iaWxlfSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG4iXX0= */
