.hero {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  position: relative;
}

.hero__images {
  grid-column: 7/13;
  position: relative;
  grid-row: 1/9;
  align-self: center;
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  z-index: 4;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  grid-column: 1/7;
  grid-row: 1/3;
  align-self: center;
}

.hero__glow {
  position: relative;
  width: 100%;
  height: 100%;
  right: -10%;
  grid-column: 7/13;
  grid-row: 1/9;
}

.hero__lightning-image {
  position: absolute;
  width: 200px;
  height: 225px;
  top: 66px;
  right: -88px;
  z-index: 5;
}

.hero__lightning-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__circle-decor {
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1/13;
  grid-row: 1/2;
}

body.no-webp .hero__circle-decor, body.no-js .hero__circle-decor {
  background-image: url("../img/circle.png");
}

body.webp .hero__circle-decor {
  background-image: url("../img/circle.webp");
}

.hero__title {
  grid-column: 1/7;
  grid-row: 2/4;
  align-self: center;
  z-index: 2;
}

.hero__top-text {
  grid-column: 1/7;
  grid-row: 1/3;
  align-self: center;
  z-index: 2;
}

.hero__text {
  text-wrap: balance;
  z-index: 2;
  grid-column: 1/7;
  grid-row: 4/6;
  align-self: center;
}

.hero__image {
  border-radius: 50%;
  overflow: hidden;
  grid-column: 1/7;
  grid-row: 1/3;
  -ms-flex-line-pack: end;
      align-content: end;
  z-index: 4;
}

.hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  grid-column: 1/7;
  grid-row: 6/8;
  align-self: center;
  z-index: 4;
  position: relative;
}

.hero__links .action-elem:first-of-type {
  margin-right: 15px;
}

.hero__circle-image {
  grid-column: 1/7;
  grid-row: 1/3;
}

.hero__react-image {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 80px;
  height: 80px;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 50%;
  z-index: 5;
}

.hero__css-image {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 70px;
  align-self: center;
  justify-self: center;
  height: 70px;
  z-index: 5;
}

.hero__html-image {
  grid-column: 2/4;
  grid-row: 1/2;
  width: 65px;
  height: 65px;
  align-self: self-start;
  margin-top: 20%;
  justify-self: center;
  z-index: 5;
}

.hero__figma-image {
  grid-column: 5/6;
  grid-row: 1/2;
  width: 38px;
  height: 67px;
  margin-top: 18%;
  z-index: 5;
}

.hero-decor-item {
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
  will-change: filter;
}

.hero-decor-item:hover {
  -webkit-filter: drop-shadow(0 6px 12px rgba(241, 102, 42, 0.4));
          filter: drop-shadow(0 6px 12px rgba(241, 102, 42, 0.4));
}

@media (max-width: 1600px) {
  .hero__images {
    max-width: 600px;
    max-height: 600px;
  }
}

@media (max-width: 1300px) {
  .hero .container {
    grid-template-columns: repeat(6, 1fr);
  }
  .hero__images {
    grid-column: 4/7;
  }
  .hero__content {
    grid-column: 1/4;
  }
  .hero__glow {
    grid-column: 4/7;
  }
  .hero__title {
    grid-column: 1/4;
  }
  .hero__top-text {
    grid-column: 1/4;
  }
  .hero__text {
    grid-column: 1/4;
  }
  .hero__links {
    grid-column: 1/4;
  }
}

@media (max-width: 980px) {
  .hero .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
  }
  .hero__images {
    grid-column: 1/2;
    grid-row: 4/5;
    max-width: 400px;
    max-height: 400px;
    justify-self: center;
  }
  .hero__glow {
    grid-column: 1/2;
    grid-row: 1/6;
    width: 185%;
    height: 460px;
    bottom: 0;
    align-self: end;
  }
  .hero__lightning-image {
    display: none;
  }
  .hero__title {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .hero__top-text {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero__text {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .hero__links {
    grid-column: 1/2;
    grid-row: 5/6;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__links .action-elem:first-of-type {
    margin-right: 7px;
  }
  .hero__react-image {
    width: 50px;
    height: 50px;
  }
  .hero__css-image {
    width: 40px;
    height: 40px;
  }
  .hero__html-image {
    width: 45px;
    height: 45px;
    margin-top: 10%;
  }
  .hero__figma-image {
    width: 30px;
    height: 40px;
  }
}