@use '../vars' as *;

h1.title {
    font-size: 66px;
    line-height: 100%;

    @include laptop {
        font-size: 50px;
    }
    @include tablet {
        font-size: 33px;
    }
}

p.text {
    font-size: 24px;
    line-height: 148%;

    @include laptop {
        font-size: 20px;
    }
    @include tablet {
        font-size: 18px;
    }
}
.text-orange {
    color: $orange;
}
