@use '../../vars' as *;
.contacts {
    position: relative;
    &__title {
        margin-bottom: 60px;
        text-align: center;
    }
    &__content {
        border-radius: 8px;
        border: 1px solid $orange;
        display: flex;
        align-items: center;
        padding: 25px;
        @include tablet {
            flex-direction: column;
            row-gap: 40px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__glow {
        width: 415px;
        height: 492px;
        position: absolute;
        left: -235px;
        bottom: 0;
    }
    &__text {
        font-size: 30px;
        font-weight: 500;
        text-wrap: balance;
        line-height: 140%;
        max-width: 50%;
        text-wrap: balance;

        @include tablet {
            max-width: none;
            text-align: center;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 50px;
        a {
            max-width: max-content;
        }
    }
}
