@use '../../vars' as *;
.hero {
    position: relative;
    // height: calc((100vh - 90px));
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
    }
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 100%;
        position: relative;
        @include laptop {
            grid-template-columns: repeat(6, 1fr);
        }
        @include tablet {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 25px;
        }
    }
    &__action-element {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }
    &__images {
        grid-column: 7/13;
        position: relative;
        grid-row: 1/9;
        align-self: center;
        max-width: 700px;
        max-height: 700px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        z-index: 4;
        @include dt {
            max-width: 600px;
            max-height: 600px;
        }
        @include laptop {
            grid-column: 4/7;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 4/5;
            max-width: 400px;
            max-height: 400px;
            justify-self: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        grid-column: 1/7;
        grid-row: 1/3;
        align-self: center;
        @include laptop {
            grid-column: 1/4;
        }
    }
    &__glow {
        position: relative;
        width: 100%;
        height: 100%;
        right: -10%;
        grid-column: 7/13;
        grid-row: 1/9;

        @include laptop {
            grid-column: 4/7;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 1/6;
            width: 185%;
            height: 100%;
            bottom: 0;
            align-self: end;
            opacity: 0.5;
            z-index: 0;
        }
    }
    &__lightning-image {
        position: absolute;
        width: 200px;
        height: 225px;
        top: 66px;
        right: -88px;
        z-index: 5;
        img {
            object-fit: cover;
        }
        @include tablet {
            display: none;
        }
    }
    &__circle-decor {
        background-image: url('@img/circle.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1/13;
        grid-row: 1/2;
    }
    &__title {
        grid-column: 1/7;
        grid-row: 2/4;
        align-self: center;
        z-index: 2;
        @include laptop {
            grid-column: 1/4;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    &__top-text {
        grid-column: 1/7;
        grid-row: 1/3;
        align-self: center;
        z-index: 2;
        @include laptop {
            grid-column: 1/4;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
    &__text {
        text-wrap: balance;
        z-index: 2;
        grid-column: 1/7;
        grid-row: 4/6;
        align-self: center;

        @include laptop {
            grid-column: 1/4;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }
    &__image {
        border-radius: 50%;
        overflow: hidden;
        grid-column: 1/7;
        grid-row: 1/3;
        align-content: end;
        z-index: 4;
        img {
            object-fit: cover;
            aspect-ratio: 718/561;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 25px;
        grid-column: 1/7;
        grid-row: 6/8;
        align-self: center;
        z-index: 4;
        position: relative;
        @include laptop {
            grid-column: 1/4;
        }
        @include tablet {
            grid-column: 1/2;
            grid-row: 5/6;
            column-gap: 10px;
            justify-content: center;
            z-index: 99999999;
        }
        .action-elem:first-of-type {
            margin-left: 15px;
            @include tablet {
                margin-left: 7px;
            }
        }
    }
    &__circle-image {
        grid-column: 1/7;
        grid-row: 1/3;
    }
    &__react-image {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 80px;
        height: 80px;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 50%;
        z-index: 5;
        @include tablet {
            width: 50px;
            height: 50px;
        }
    }
    &__css-image {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 70px;
        align-self: center;
        justify-self: center;
        height: 70px;
        z-index: 5;
        @include tablet {
            width: 40px;
            height: 40px;
        }
    }
    &__html-image {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        width: 65px;
        height: 65px;
        align-self: self-start;
        margin-top: 20%;
        justify-self: center;
        z-index: 5;
        @include tablet {
            width: 45px;
            height: 45px;
            margin-top: 10%;
        }
    }
    &__figma-image {
        grid-column: 5/6;
        grid-row: 1/2;
        width: 38px;
        height: 67px;
        margin-top: 18%;
        z-index: 5;
        @include tablet {
            width: 30px;
            height: 40px;
        }
    }
}
.hero-decor-item {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    transition: filter 0.3s ease;

    &:hover {
        filter: drop-shadow(0 6px 12px rgba($orange, 0.4));
    }
}
