.container {
  max-width: 1600px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__title {
  font-size: 47px;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 980px) {
  .section__title {
    font-size: 30px;
  }
}