.container {
  max-width: 1600px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__title {
  font-size: 47px;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 980px) {
  .section__title {
    font-size: 30px;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy9jb250YWluZXJzLnNjc3MiLCJibG9ja3MvY29udGFpbmVycy5jc3MiLCJfdmFycy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0ksaUJBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7QUNESjs7QURPQTtFQUNJLGlCQUFBO0VBQ0Esb0JBQUE7QUNFSjs7QURESTtFQUNJLGVBQUE7RUFDQSxnQkFBQTtBQ0dSOztBQ1VJO0VGN0JKO0lBT1Esa0JBQUE7SUFDQSxtQkFBQTtFQ0NOO0FBQ0Y7O0FDb0NJO0VGaENBO0lBSVEsZUFBQTtFQ0tWO0FBQ0YiLCJmaWxlIjoiYmxvY2tzL2NvbnRhaW5lcnMuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQHVzZSAnLi4vdmFycycgYXMgKjtcblxuLmNvbnRhaW5lciB7XG4gICAgbWF4LXdpZHRoOiAxNjAwcHg7XG4gICAgcGFkZGluZy1sZWZ0OiAxMHB4O1xuICAgIHBhZGRpbmctcmlnaHQ6IDEwcHg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgQGluY2x1ZGUgZHQge1xuICAgICAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG4gICAgICAgIHBhZGRpbmctcmlnaHQ6IDIwcHg7XG4gICAgfVxufVxuLnNlY3Rpb24ge1xuICAgIHBhZGRpbmctdG9wOiA4MHB4O1xuICAgIHBhZGRpbmctYm90dG9tOiA4MHB4O1xuICAgICZfX3RpdGxlIHtcbiAgICAgICAgZm9udC1zaXplOiA0N3B4O1xuICAgICAgICBmb250LXdlaWdodDogNjAwO1xuICAgICAgICBAaW5jbHVkZSB0YWJsZXQge1xuICAgICAgICAgICAgZm9udC1zaXplOiAzMHB4O1xuICAgICAgICB9XG4gICAgfVxufVxuIiwiLmNvbnRhaW5lciB7XG4gIG1heC13aWR0aDogMTYwMHB4O1xuICBwYWRkaW5nLWxlZnQ6IDEwcHg7XG4gIHBhZGRpbmctcmlnaHQ6IDEwcHg7XG4gIHdpZHRoOiAxMDAlO1xuICBtYXJnaW46IDAgYXV0bztcbn1cbkBtZWRpYSAobWF4LXdpZHRoOiAxNjAwcHgpIHtcbiAgLmNvbnRhaW5lciB7XG4gICAgcGFkZGluZy1sZWZ0OiAyMHB4O1xuICAgIHBhZGRpbmctcmlnaHQ6IDIwcHg7XG4gIH1cbn1cblxuLnNlY3Rpb24ge1xuICBwYWRkaW5nLXRvcDogODBweDtcbiAgcGFkZGluZy1ib3R0b206IDgwcHg7XG59XG4uc2VjdGlvbl9fdGl0bGUge1xuICBmb250LXNpemU6IDQ3cHg7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG59XG5AbWVkaWEgKG1heC13aWR0aDogOTgwcHgpIHtcbiAgLnNlY3Rpb25fX3RpdGxlIHtcbiAgICBmb250LXNpemU6IDMwcHg7XG4gIH1cbn0iLCIvL2RlZmF1bHQgY29sb3Vyc1xuJGJsYWNrOiAjMDAwO1xuJHdoaXRlOiAjZmZmO1xuXG4vL2xheW91dCBjb2xvdXJzXG4kZGFyazogIzM2MzYzNjtcbiRncmF5OiAjNjQ3NDhiO1xuJG9yYW5nZTogI2YxNjYyYTtcblxuLy90cmFuc2l0aW9uc1xuJHRyYW5zaXRpb246IGFsbCAwLjRzIGN1YmljLWJlemllcigwLjI1LCAwLjQ2LCAwLjQ1LCAwLjk0KTtcblxuLy9yb3VuZHNcbiRyb3VuZC1zOiA4cHg7XG4kcm91bmQtbTogMjBweDtcbiRyb3VuZC1sOiAzMnB4O1xuJHJvdW5kLWZ1bGw6IDUwJTtcblxuLy9NZWRpYSBxdWVyaWVzXG4kbW9iaWxlOiA2NTBweDtcbiR0YWJsZXQ6IDk4MHB4O1xuJGxhcHRvcC1zOiAxMTAwcHg7XG4kbGFwdG9wOiAxMzAwcHg7XG4kZHQ6IDE2MDBweDtcblxuLy8gR2xhc3MgbW9ycGhpc21cbiRnbGFzczogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjA1KTtcbiRnbGFzc0JvcmRlcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjEpO1xuXG4vLyBNaXhpbnNcbkBtaXhpbiBkdCB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGR0fSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5cbkBtaXhpbiBsYXB0b3Age1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRsYXB0b3B9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cbkBtaXhpbiBsYXB0b3AtcyB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGxhcHRvcC1zfSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5cbkBtaXhpbiB0YWJsZXQge1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyR0YWJsZXR9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cblxuQG1peGluIG1vYmlsZSB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JG1vYmlsZX0pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuIl19 */
