.logo-link {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.logo-link span {
  font-weight: 700;
  font-size: 48px;
}

.glass {
  background: var(--glass);
  backdrop-filter: blur(20px);
  border: 1px solid var(--glass-border);
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.glow {
  background-color: #f1662a;
  -webkit-filter: blur(350px);
          filter: blur(350px);
}

@media (max-width: 1600px) {
  .logo-link span {
    font-size: 37px;
  }
}

@media (max-width: 980px) {
  .logo-link span {
    font-size: 28px;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy9lbGVtZW50cy5zY3NzIiwiYmxvY2tzL2VsZW1lbnRzLmNzcyIsIl92YXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFDSSxjQUFBO0VBQ0EsOEJBQUE7RUFBQSwyQkFBQTtFQUFBLHNCQUFBO0FDREo7O0FERUk7RUFDSSxnQkFBQTtFQUNBLGVBQUE7QUNBUjs7QURTQTtFQUNJLHdCQUFBO0VBQ0EsMkJBQUE7RUFDQSxxQ0FBQTtFQUNBLG1CQUFBO0VBQ0EsaURBQUE7VUFBQSx5Q0FBQTtBQ0lKOztBREZBO0VBQ0kseUJFakJLO0VGa0JMLDJCQUFBO1VBQUEsbUJBQUE7QUNLSjs7QUNDSTtFRjFCQTtJQUlRLGVBQUE7RUNFVjtBQUNGOztBQ29DSTtFRjNDQTtJQU9RLGVBQUE7RUNJVjtBQUNGIiwiZmlsZSI6ImJsb2Nrcy9lbGVtZW50cy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAdXNlICcuLi92YXJzJyBhcyAqO1xuXG4ubG9nby1saW5rIHtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBtYXgtd2lkdGg6IG1heC1jb250ZW50O1xuICAgIHNwYW4ge1xuICAgICAgICBmb250LXdlaWdodDogNzAwO1xuICAgICAgICBmb250LXNpemU6IDQ4cHg7XG4gICAgICAgIEBpbmNsdWRlIGR0IHtcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMzdweDtcbiAgICAgICAgfVxuICAgICAgICBAaW5jbHVkZSB0YWJsZXQge1xuICAgICAgICAgICAgZm9udC1zaXplOiAyOHB4O1xuICAgICAgICB9XG4gICAgfVxufVxuLmdsYXNzIHtcbiAgICBiYWNrZ3JvdW5kOiB2YXIoLS1nbGFzcyk7XG4gICAgYmFja2Ryb3AtZmlsdGVyOiBibHVyKDIwcHgpO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWdsYXNzLWJvcmRlcik7XG4gICAgYm9yZGVyLXJhZGl1czogMjBweDtcbiAgICBib3gtc2hhZG93OiAwIDhweCAzMnB4IHJnYmEoMCwgMCwgMCwgMC4xKTtcbn1cbi5nbG93IHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkb3JhbmdlO1xuICAgIGZpbHRlcjogYmx1cigzNTBweCk7XG59XG4iLCIubG9nby1saW5rIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIG1heC13aWR0aDogbWF4LWNvbnRlbnQ7XG59XG4ubG9nby1saW5rIHNwYW4ge1xuICBmb250LXdlaWdodDogNzAwO1xuICBmb250LXNpemU6IDQ4cHg7XG59XG5AbWVkaWEgKG1heC13aWR0aDogMTYwMHB4KSB7XG4gIC5sb2dvLWxpbmsgc3BhbiB7XG4gICAgZm9udC1zaXplOiAzN3B4O1xuICB9XG59XG5AbWVkaWEgKG1heC13aWR0aDogOTgwcHgpIHtcbiAgLmxvZ28tbGluayBzcGFuIHtcbiAgICBmb250LXNpemU6IDI4cHg7XG4gIH1cbn1cblxuLmdsYXNzIHtcbiAgYmFja2dyb3VuZDogdmFyKC0tZ2xhc3MpO1xuICBiYWNrZHJvcC1maWx0ZXI6IGJsdXIoMjBweCk7XG4gIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWdsYXNzLWJvcmRlcik7XG4gIGJvcmRlci1yYWRpdXM6IDIwcHg7XG4gIGJveC1zaGFkb3c6IDAgOHB4IDMycHggcmdiYSgwLCAwLCAwLCAwLjEpO1xufVxuXG4uZ2xvdyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmMTY2MmE7XG4gIGZpbHRlcjogYmx1cigzNTBweCk7XG59IiwiLy9kZWZhdWx0IGNvbG91cnNcbiRibGFjazogIzAwMDtcbiR3aGl0ZTogI2ZmZjtcblxuLy9sYXlvdXQgY29sb3Vyc1xuJGRhcms6ICMzNjM2MzY7XG4kZ3JheTogIzY0NzQ4YjtcbiRvcmFuZ2U6ICNmMTY2MmE7XG5cbi8vdHJhbnNpdGlvbnNcbiR0cmFuc2l0aW9uOiBhbGwgMC40cyBjdWJpYy1iZXppZXIoMC4yNSwgMC40NiwgMC40NSwgMC45NCk7XG5cbi8vcm91bmRzXG4kcm91bmQtczogOHB4O1xuJHJvdW5kLW06IDIwcHg7XG4kcm91bmQtbDogMzJweDtcbiRyb3VuZC1mdWxsOiA1MCU7XG5cbi8vTWVkaWEgcXVlcmllc1xuJG1vYmlsZTogNjUwcHg7XG4kdGFibGV0OiA5ODBweDtcbiRsYXB0b3AtczogMTEwMHB4O1xuJGxhcHRvcDogMTMwMHB4O1xuJGR0OiAxNjAwcHg7XG5cbi8vIEdsYXNzIG1vcnBoaXNtXG4kZ2xhc3M6IHJnYmEoMjU1LCAyNTUsIDI1NSwgMC4wNSk7XG4kZ2xhc3NCb3JkZXI6IHJnYmEoMjU1LCAyNTUsIDI1NSwgMC4xKTtcblxuLy8gTWl4aW5zXG5AbWl4aW4gZHQge1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRkdH0pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuXG5AbWl4aW4gbGFwdG9wIHtcbiAgICBAbWVkaWEgKG1heC13aWR0aDogI3skbGFwdG9wfSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5AbWl4aW4gbGFwdG9wLXMge1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRsYXB0b3Atc30pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuXG5AbWl4aW4gdGFibGV0IHtcbiAgICBAbWVkaWEgKG1heC13aWR0aDogI3skdGFibGV0fSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5cbkBtaXhpbiBtb2JpbGUge1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRtb2JpbGV9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cbiJdfQ== */
