h1.title {
  font-size: 66px;
  line-height: 100%;
}

p.text {
  font-size: 24px;
  line-height: 148%;
}

.text-orange {
  color: #f1662a;
}

@media (max-width: 1300px) {
  h1.title {
    font-size: 50px;
  }
  p.text {
    font-size: 20px;
  }
}

@media (max-width: 980px) {
  h1.title {
    font-size: 33px;
  }
  p.text {
    font-size: 18px;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy90eXBvZ3JhcGh5LnNjc3MiLCJibG9ja3MvdHlwb2dyYXBoeS5jc3MiLCJfdmFycy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0ksZUFBQTtFQUNBLGlCQUFBO0FDREo7O0FEV0E7RUFDSSxlQUFBO0VBQ0EsaUJBQUE7QUNFSjs7QURPQTtFQUNJLGNFbkJLO0FEeUJUOztBQ0tJO0VGbkNKO0lBS1EsZUFBQTtFQ0FOO0VET0Y7SUFLUSxlQUFBO0VDR047QUFkRjs7QUN3Q0k7RUY5Q0o7SUFRUSxlQUFBO0VDRU47RURFRjtJQVFRLGVBQUE7RUNLTjtBQWRGIiwiZmlsZSI6ImJsb2Nrcy90eXBvZ3JhcGh5LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkB1c2UgJy4uL3ZhcnMnIGFzICo7XG5cbmgxLnRpdGxlIHtcbiAgICBmb250LXNpemU6IDY2cHg7XG4gICAgbGluZS1oZWlnaHQ6IDEwMCU7XG5cbiAgICBAaW5jbHVkZSBsYXB0b3Age1xuICAgICAgICBmb250LXNpemU6IDUwcHg7XG4gICAgfVxuICAgIEBpbmNsdWRlIHRhYmxldCB7XG4gICAgICAgIGZvbnQtc2l6ZTogMzNweDtcbiAgICB9XG59XG5cbnAudGV4dCB7XG4gICAgZm9udC1zaXplOiAyNHB4O1xuICAgIGxpbmUtaGVpZ2h0OiAxNDglO1xuXG4gICAgQGluY2x1ZGUgbGFwdG9wIHtcbiAgICAgICAgZm9udC1zaXplOiAyMHB4O1xuICAgIH1cbiAgICBAaW5jbHVkZSB0YWJsZXQge1xuICAgICAgICBmb250LXNpemU6IDE4cHg7XG4gICAgfVxufVxuLnRleHQtb3JhbmdlIHtcbiAgICBjb2xvcjogJG9yYW5nZTtcbn1cbiIsImgxLnRpdGxlIHtcbiAgZm9udC1zaXplOiA2NnB4O1xuICBsaW5lLWhlaWdodDogMTAwJTtcbn1cbkBtZWRpYSAobWF4LXdpZHRoOiAxMzAwcHgpIHtcbiAgaDEudGl0bGUge1xuICAgIGZvbnQtc2l6ZTogNTBweDtcbiAgfVxufVxuQG1lZGlhIChtYXgtd2lkdGg6IDk4MHB4KSB7XG4gIGgxLnRpdGxlIHtcbiAgICBmb250LXNpemU6IDMzcHg7XG4gIH1cbn1cblxucC50ZXh0IHtcbiAgZm9udC1zaXplOiAyNHB4O1xuICBsaW5lLWhlaWdodDogMTQ4JTtcbn1cbkBtZWRpYSAobWF4LXdpZHRoOiAxMzAwcHgpIHtcbiAgcC50ZXh0IHtcbiAgICBmb250LXNpemU6IDIwcHg7XG4gIH1cbn1cbkBtZWRpYSAobWF4LXdpZHRoOiA5ODBweCkge1xuICBwLnRleHQge1xuICAgIGZvbnQtc2l6ZTogMThweDtcbiAgfVxufVxuXG4udGV4dC1vcmFuZ2Uge1xuICBjb2xvcjogI2YxNjYyYTtcbn0iLCIvL2RlZmF1bHQgY29sb3Vyc1xuJGJsYWNrOiAjMDAwO1xuJHdoaXRlOiAjZmZmO1xuXG4vL2xheW91dCBjb2xvdXJzXG4kZGFyazogIzM2MzYzNjtcbiRncmF5OiAjNjQ3NDhiO1xuJG9yYW5nZTogI2YxNjYyYTtcblxuLy90cmFuc2l0aW9uc1xuJHRyYW5zaXRpb246IGFsbCAwLjRzIGN1YmljLWJlemllcigwLjI1LCAwLjQ2LCAwLjQ1LCAwLjk0KTtcblxuLy9yb3VuZHNcbiRyb3VuZC1zOiA4cHg7XG4kcm91bmQtbTogMjBweDtcbiRyb3VuZC1sOiAzMnB4O1xuJHJvdW5kLWZ1bGw6IDUwJTtcblxuLy9NZWRpYSBxdWVyaWVzXG4kbW9iaWxlOiA2NTBweDtcbiR0YWJsZXQ6IDk4MHB4O1xuJGxhcHRvcC1zOiAxMTAwcHg7XG4kbGFwdG9wOiAxMzAwcHg7XG4kZHQ6IDE2MDBweDtcblxuLy8gR2xhc3MgbW9ycGhpc21cbiRnbGFzczogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjA1KTtcbiRnbGFzc0JvcmRlcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAwLjEpO1xuXG4vLyBNaXhpbnNcbkBtaXhpbiBkdCB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGR0fSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5cbkBtaXhpbiBsYXB0b3Age1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyRsYXB0b3B9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cbkBtaXhpbiBsYXB0b3AtcyB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JGxhcHRvcC1zfSkge1xuICAgICAgICBAY29udGVudDtcbiAgICB9XG59XG5cbkBtaXhpbiB0YWJsZXQge1xuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAjeyR0YWJsZXR9KSB7XG4gICAgICAgIEBjb250ZW50O1xuICAgIH1cbn1cblxuQG1peGluIG1vYmlsZSB7XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6ICN7JG1vYmlsZX0pIHtcbiAgICAgICAgQGNvbnRlbnQ7XG4gICAgfVxufVxuIl19 */
