html {
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

html,
body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    height: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
a {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
figure,
picture > object {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
    }
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
