@use './vars' as *;

.glide {
    &__track {
        overflow: hidden;
        max-width: 100%;
        height: 100%;
    }
    &__slides {
    }
    &__slide {
        margin: 0 !important;
    }
    &__bullets {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }
    &__arrows {
        display: flex;
        gap: 10px;
        z-index: 5;
        position: relative;
        justify-content: space-between;
        max-width: 250px;
        width: 100%;
    }
    &__arrow {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        svg {
            width: 30px;
            height: 30px;
            color: #f37a47;
        }
        &_left {
            transform: rotate(180deg);
        }
        &:hover {
            opacity: 0.7;
        }
    }

    &__bullet {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        background: rgba($white, 0.3);
        cursor: pointer;
        transition: $transition;

        &--active {
            background: $orange;
        }

        &:hover {
            background: #f37a47;
        }
    }
}
