@use 'fonts';
@use 'normalize';
@use 'reset';
@use 'vars';
@use 'slider';
@use 'global';

@use 'blocks/forms';
@use 'blocks/elements';
@use 'blocks/containers';
@use 'blocks/controls';
@use 'blocks/typography';
@use 'blocks/nav';
@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/footer';
